*{margin:0; padding:0;}

body{
	background: url(../images/checked-strip.png) repeat;
}

.header{
	height:113px;
	width: 100%;
	background: #ff0; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMWQ2YzIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #ffffff 0%, #e1d6c2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e1d6c2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#e1d6c2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#e1d6c2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#e1d6c2 100%); /* IE10+ */
	background: linear-gradient(top, #ffffff 0%,#e1d6c2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e1d6c2',GradientType=0 ); /* IE6-8 */
	box-shadow: 0px 2px 5px #666666;
}


ul {
	list-style:none;
	padding:0;
	margin:0;
	overflow:hidden;
	font:0.875em/1 Arial, sans-serif;
}

ul li {
	float:left;
	width:34px;
	height:34px;
	margin:20px 20px 0 0;
}

ul li a {
	display:block;
	width:32px;
	height:32px;
	overflow:hidden;
	border:1px solid transparent;
	line-height:32px;
	text-decoration:none;
	
	/* css3 */
	text-shadow:0 -1px 0 rgba(0,0,0,0.5);
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px; /* standards version last */
}

ul li a:hover,
 ul li a:focus,
 ul li a:active {
	/*border-color:#000;*/
}

/* ---------------------------
--  FACEBOOK
--------------------------- */

.facebook a {
	position:relative;
	border-color:#333;
	text-transform:lowercase;
	text-indent: 5px;
	font-weight:bold;
	font-size:32px;
	line-height:32px;
	color:#fff;
	background:#3c5a98;
	text-shadow: 2px 2px 2px #000;
	/* css3 */
	/* NOTE: box-shadow is not currently in any CSS3 module. It may be reappear in a different form altogether */
	-moz-box-shadow: inset 0px 0px 5px #000;
	-webkit-box-shadow: inset 0px 0px 5px #000;
	box-shadow: inset 0px 0px 5px #000;
}

.facebook a:hover {
	-moz-box-shadow: 0px 2px 4px #fff;
	-webkit-box-shadow: 0px 2px 4px #fff;
	box-shadow: 0px 2px 4px #fff;
}
/* --------------------------
--  TWITTER
--------------------------- */

.twitter a {
	position:relative;
	text-transform:lowercase;
	text-indent:9px;
	font:bold 30px/1 Tahoma, sans-serif;
	line-height:30px;
	color:#76DDF8;
	background:#daf6f7;

	/* css3 */
	text-shadow: 3px 3px 1px #fff, -3px -3px 1px #fff, 3px -3px 1px #fff, -3px 3px 1px #fff;
	/* NOTE: box-shadow is not currently in any CSS3 module. It may be reappear in a different form altogether */
	-moz-box-shadow: inset 0px 0px 5px #000;
	-webkit-box-shadow: inset 0px 0px 5px #000;
	box-shadow: inset 0px 0px 5px #000;
	/* NOTE: webkit gradient implementation is not as per spec */
	background:-webkit-gradient(linear, left top, left bottom, from(#dbf7f8), to(#88e1e6));
	background:-moz-linear-gradient(top, #dbf7f8, #88e1e6);
}s	

.twitter a:hover{
	background: #88e1e6;
}


/* ------------------------------------------------------------------------------------
--  LINKEDIN
------------------------------------------------------------------------------------ */

.linkedin a {
	position:relative;
	width:32px;
	overflow:hidden;
	padding:0 2px;
	border-color:#185c80;
	text-transform:lowercase;
	text-indent:4px;
	font-size:25px;
	font-weight:bold;
	color:#fff;
	background:#0c6596;

	/* css3 */
	/* NOTE: box-shadow is not currently in any CSS3 module. It may be reappear in a different form altogether */
	-moz-box-shadow:0 0 4px rgba(0,0,0,0.4);
	-webkit-box-shadow:0 0 4px rgba(0,0,0,0.4);
	box-shadow:0 0 4px rgba(0,0,0,0.4); /* standards version last */
	/* NOTE: webkit gradient implementation is not as per spec */
	background:-webkit-gradient(linear, left top, left bottom, from(#5babcb), to(#0c6596));
	background:-moz-linear-gradient(top, #5babcb, #0c6596);
}



/* ------------------------------------------------------------------------------------
--  ORKUT
------------------------------------------------------------------------------------ */

.orkut a {
	position:relative;
	border-color:#b4c4dd;
	text-indent:-9000px;
	font-size:108px;
	color:#b62b91;
	background:#fff;

	/* css3 */
	/* NOTE: box-shadow is not currently in any CSS3 module. It may be reappear in a different form altogether */
	-moz-box-shadow:0 0 4px rgba(0,0,0,0.4);
	-webkit-box-shadow:0 0 4px rgba(0,0,0,0.4);  	
	box-shadow:0 0 4px rgba(0,0,0,0.4); /* standards version last */
	/* NOTE: webkit gradient implementation is not as per spec */
	background:-webkit-gradient(linear, left top, left bottom, from(#fff), to(#ceddf6));
	background:-moz-linear-gradient(top, #fff, #ceddf6);
}

/* create the larger circle */
.orkut a:before {
	content:"\00a0";
	position:absolute;
	top:50%;
	left:50%;
	width:40px;
	height:40px;
	border:1px solid #b0699e;
	margin:-21px 0 0 -21px;
	background:#d779c0;
   
	/* css3 */
	-moz-border-radius:40px;
	-webkit-border-radius:40px;
	border-radius:40px; /* standards version last */
	/* NOTE: box-shadow is not currently in any CSS3 module. It may be reappear in a different form altogether */
	-moz-box-shadow:0 0 2px rgba(0,0,0,0.6);
	-webkit-box-shadow:0 0 2px rgba(0,0,0,0.6);
	box-shadow:0 0 2px rgba(0,0,0,0.6); /* standards version last */
}

/* create the smaller circle */
.orkut a:after {
	content:"\00a0";
	position:absolute;
	top:50%;
	left:50%;
	width:26px;
	height:26px;
	margin:-13px 0 0 -13px;
	background:#fff;

	/* css3 */
	-moz-border-radius:26px;
	-webkit-border-radius:26px;
	border-radius:26px; /* standards version last */
	/* NOTE: box-shadow is not currently in any CSS3 module. It may be reappear in a different form altogether */
	-moz-box-shadow: 0 0 2px rgba(0,0,0,0.6);
	-webkit-box-shadow: 0 0 2px rgba(0,0,0,0.6);
	box-shadow: 0 0 2px rgba(0,0,0,0.6); /* standards version last */
	/* NOTE: webkit gradient implementation is not as per spec */
	background:-webkit-gradient(linear, left top, left bottom, from(#eff4fc), to(#dce6f8));
	background:-moz-linear-gradient(top, #eff4fc, #dce6f8);
}


